

<html>
<head>
   <title><%= siteTitle %> - <%= pageTitle %></title>
   <% include ../partial/head %>
   <style>
   *{border-radius: 0px !important}
   </style>
 </head>
 <body>
    <% include ../partial/navbar %>  
